.nav {
  display: flex;
  gap: 38px;
}

.container {
  margin: 46px 108px 46px 108px;
}

.link {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.link:hover {
  border-bottom-color: #333;
  opacity: 0.5;
}

.active {
  text-decoration: none;
  border-bottom: 2px solid #333;
  padding-bottom: 4px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #000;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #000;
  margin-bottom: 16px;
}
