.page {
  padding: 48px 16px;
  max-width: 393px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .page {
    max-width: 768px;
    padding: 48px 32px;
  }
}
@media (min-width: 1440px) {
  .page {
    min-width: 1225px;
    padding: 0;
    display: flex;
    gap: 24px;
    align-items: flex-start;
  }
}
