.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 32px;
  color: black;
}
.blockwrapper {
  display: flex;
  flex-direction: column-reverse;
}

.image {
  width: 100%;
  max-width: 704px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.metaRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
  margin-bottom: 24px;
}
.infoBox {
  background: var(--light-beige);
  max-width: 361px;
  max-height: 206px;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 41px;
}

.infoBoxItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  line-height: 1.55;
  font-weight: 400;
  color: var(--black);
  margin-bottom: 16px;
}

.icon {
  font-size: 24px;
  color: #fff;
  transition: color 0.2s ease;
}

.imageWrapper {
  margin-bottom: 32px;
}
.infocomtainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 40px;
}

/* 🔹 Tablet */
@media (min-width: 768px) {
  .title {
    margin-top: 0;
    text-align: start;
  }
  .blockwrapper {
    flex-direction: column;
  }

  .imageWrapper {
    margin-bottom: 32px;
  }
  .image {
    max-width: 704px;
    height: auto;
  }
  .metaRow {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    gap: 32px;
    max-width: 704px;
    height: auto;
    margin: 0;
  }

  .infoBox {
    border-radius: 16px;
    padding: 24px;
    width: auto;
    height: auto;
  }

  .saveBtn {
    width: 249px;
    height: 56px;
  }
}

.imageWrapper {
  margin-bottom: none;
}

@media (min-width: 1440px) {
  .wrapper {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  :root {
    --recipe-bg: #34373a;
  }

  .imageWrapper {
    width: 100%;
    background-color: var(--recipe-bg);
    border-radius: 8px;
    display: flex;
    justify-content: center;
  }

  .image {
    width: 100%;
    max-width: 1226px;
    height: 624px;
    object-fit: cover;
    border-radius: 8px;
  }

  .desctopinfo {
    display: flex;
    flex-direction: row-reverse;
    gap: 24px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .metaRow {
    max-width: 393px;
    min-height: 302px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 24px;
  }
  .infoBox {
    border-radius: 16px;
    padding: 24px;
    min-width: 393px;
    height: auto;
    margin-bottom: 0px;
  }
}
